*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    height: 90vh;
}

.animation{
    width: 25%;
    height: 50px;
    border-radius: 10px;
    animation-name: Change;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes Change {
    0%{
        background-color: #f39c12;
        transform: scaleX(1) translateY(0);
    }
    
    100%{
        transform: scaleX(0.03) translateY(250%);
        background-color: black;
    }
}